__pycache__/
*.py[cod]
*.pyo
*.pyd

bin/
lib/
include/
build/
dist/
logs/
downloads/
venv/
.venv/
playwright_chrome_profile/
*.egg-info/
.vscode/
surfari.code-workspace

*-dist.zip
*token.json
*secret.json
launch.json
.DS_Store
build-steps.txt
pyvenv.cfg
/tests/*
*_dev*
