# Don’t ship tests
prune tests

# Developer should use their own client secret file generated on GCP
exclude src/surfari/security/google_client_secret.json

# Don’t ship any dev helpers
global-exclude *_dev*